<!DOCTYPE html>
<html>
<head>
  <title>Backreact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cousine" />
</head>
<body>
  <div id='container'>

  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
