<!DOCTYPE html>
<html>
<head>
  <title>Backreact</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div id='container'>
var React = require("react");

module.exports = React.createClass ({
	render: function() {
		return (
			<form>
			<h1>Search Page</h1>
				<input ref="searchBox" type= "text" />
				<button type= "submit">Submit </button>
			</form>
		);
	}
});
  </div>
  <%= javascript_include_tag 'application' %>
</body>
</html>
